{% extends "layout/htmx_base.html" %}

{% block content %}
<section class="max-w-6xl mx-auto px-4 pt-14 pb-24">
  <header class="mb-8">
    <h1 class="font-serif text-4xl md:text-5xl">Shop</h1>
    <p class="text-white/70 mt-2">Official Mine 606 merch.</p>
  </header>

  <!-- Shopify Buy Button Root -->
  <div id='collection-component-1754975782527'></div>

</section>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'ey8t3y-0h.myshopify.com',
      storefrontAccessToken: 'ad79fc1507cf4b26bbd1b37f8f6a4a58',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '648793424243',
        node: document.getElementById('collection-component-1754975782527'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
          "product": {
            "styles": {
              "product": {
                "@media (min-width: 601px)": {
                  "max-width": "calc(25% - 20px)",
                  "margin-left": "20px",
                  "margin-bottom": "50px",
                  "width": "calc(25% - 20px)"
                },
                "img": {
                  "height": "calc(100% - 15px)",
                  "position": "absolute",
                  "left": "0",
                  "right": "0",
                  "top": "0"
                },
                "imgWrapper": {
                  "padding-top": "calc(75% + 15px)",
                  "position": "relative",
                  "height": "0"
                }
              },
              "title": {
                "color": "#c8a349"
              },
              "button": {
                "font-family": "Avant Garde, sans-serif",
                "font-size": "16px",
                "padding-top": "16px",
                "padding-bottom": "16px",
                "color": "#fffdfd",
                ":hover": {
                  "color": "#fffdfd",
                  "background-color": "#b49342"
                },
                "background-color": "#c8a349",
                ":focus": {
                  "background-color": "#b49342"
                },
                "border-radius": "32px",
                "padding-left": "66px",
                "padding-right": "66px"
              },
              "quantityInput": {
                "font-size": "16px",
                "padding-top": "16px",
                "padding-bottom": "16px"
              }
            },
            "text": {
              "button": "Add to cart"
            }
          },
          "productSet": {
            "styles": {
              "products": {
                "@media (min-width: 601px)": {
                  "margin-left": "-20px"
                }
              }
            }
          },
          "modalProduct": {
            "contents": {
              "img": false,
              "imgWithCarousel": true,
              "button": false,
              "buttonWithQuantity": true
            },
            "styles": {
              "product": {
                "@media (min-width: 601px)": {
                  "max-width": "100%",
                  "margin-left": "0px",
                  "margin-bottom": "0px"
                }
              },
              "button": {
                "font-family": "Avant Garde, sans-serif",
                "font-size": "16px",
                "padding-top": "16px",
                "padding-bottom": "16px",
                "color": "#fffdfd",
                ":hover": {
                  "color": "#fffdfd",
                  "background-color": "#b49342"
                },
                "background-color": "#c8a349",
                ":focus": {
                  "background-color": "#b49342"
                },
                "border-radius": "32px",
                "padding-left": "66px",
                "padding-right": "66px"
              },
              "quantityInput": {
                "font-size": "16px",
                "padding-top": "16px",
                "padding-bottom": "16px"
              },
              "title": {
                "font-family": "Helvetica Neue, sans-serif",
                "font-weight": "bold",
                "font-size": "26px",
                "color": "#4c4c4c"
              }
            },
            "text": {
              "button": "Add to cart"
            }
          },
          "option": {},
          "cart": {
            "styles": {
              "button": {
                "font-family": "Avant Garde, sans-serif",
                "font-size": "16px",
                "padding-top": "16px",
                "padding-bottom": "16px",
                "color": "#fffdfd",
                ":hover": {
                  "color": "#fffdfd",
                  "background-color": "#b49342"
                },
                "background-color": "#c8a349",
                ":focus": {
                  "background-color": "#b49342"
                },
                "border-radius": "32px"
              }
            },
            "text": {
              "total": "Subtotal",
              "button": "Checkout"
            }
          },
          "toggle": {
            "styles": {
              "toggle": {
                "font-family": "Avant Garde, sans-serif",
                "background-color": "#c8a349",
                ":hover": {
                  "background-color": "#b49342"
                },
                ":focus": {
                  "background-color": "#b49342"
                }
              },
              "count": {
                "font-size": "16px",
                "color": "#fffdfd",
                ":hover": {
                  "color": "#fffdfd"
                }
              },
              "iconPath": {
                "fill": "#fffdfd"
              }
            }
          }
        }
      });
    });
  }
})();
</script>
{% endblock %}
